In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\Mahnoor\anaconda3\envs\py_env\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\Mahnoor\anaconda3\envs\py_env\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Mahnoor\anaconda3\envs\py_env\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Mahnoor\anaconda3\envs\py_env\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Mahnoor\anaconda3\envs\py_env\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 100388.3359 - mae: 100388.3359 - val_loss: 98555.3438 - val_mae: 98555.3438
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99738.2188 - mae: 99738.2188 - val_loss: 97211.3906 - val_mae: 97211.3906
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 97361.4922 - mae: 97361.4922 - val_loss: 93699.1719 - val_mae: 93699.1719
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 92601.9141 - mae: 92601.9141 - val_loss: 87725.6719 - val_mae: 87725.6719
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 85546.6328 - mae: 85546.6328 - val_loss: 79860.7734 - val_mae: 79860.7734
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 77013.7031 - mae: 77013.7031 - val_loss: 71334.4688 - val_mae: 71334.4688
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 68399.2734 - mae: 68399.2734 - val_loss: 63520.3359 - val_mae: 63520.3359
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 60944.5352 - mae: 60944.5352 - val_loss: 57420.9766 - val_mae: 57420.9766
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 55737.4297 - mae: 55737.4297 - val_loss: 53662.0469 - val_mae: 53662.0469
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 52745.7617 - mae: 52745.7617 - val_loss: 51752.5391 - val_mae: 51752.5391
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51287.6992 - mae: 51287.6992 - val_loss: 50989.7695 - val_mae: 50989.7695
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50691.8359 - mae: 50691.8359 - val_loss: 50742.2148 - val_mae: 50742.2148
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50457.1172 - mae: 50457.1172 - val_loss: 50643.5742 - val_mae: 50643.5742
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50334.4766 - mae: 50334.4766 - val_loss: 50592.9492 - val_mae: 50592.9492
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50254.8477 - mae: 50254.8477 - val_loss: 50548.7422 - val_mae: 50548.7422
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50192.8047 - mae: 50192.8047 - val_loss: 50509.7344 - val_mae: 50509.7344
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50138.9258 - mae: 50138.9258 - val_loss: 50482.5469 - val_mae: 50482.5469
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50095.2617 - mae: 50095.2617 - val_loss: 50455.7773 - val_mae: 50455.7773
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50055.0508 - mae: 50055.0508 - val_loss: 50429.7539 - val_mae: 50429.7539
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 50023.0547 - mae: 50023.0547 - val_loss: 50411.5664 - val_mae: 50411.5664
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49987.5742 - mae: 49987.5742 - val_loss: 50391.1406 - val_mae: 50391.1406
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49959.2891 - mae: 49959.2891 - val_loss: 50370.7305 - val_mae: 50370.7305
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49934.0352 - mae: 49934.0352 - val_loss: 50360.1953 - val_mae: 50360.1953
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49909.1680 - mae: 49909.1680 - val_loss: 50351.2812 - val_mae: 50351.2812
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49882.4453 - mae: 49882.4453 - val_loss: 50339.2305 - val_mae: 50339.2305
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49858.5430 - mae: 49858.5430 - val_loss: 50331.6719 - val_mae: 50331.6719
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49838.0352 - mae: 49838.0352 - val_loss: 50313.0078 - val_mae: 50313.0078
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49814.8594 - mae: 49814.8594 - val_loss: 50303.3945 - val_mae: 50303.3945
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49795.3906 - mae: 49795.3906 - val_loss: 50293.1055 - val_mae: 50293.1055
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49776.1367 - mae: 49776.1367 - val_loss: 50293.5977 - val_mae: 50293.5977
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49757.0469 - mae: 49757.0469 - val_loss: 50292.2109 - val_mae: 50292.2109
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49739.8633 - mae: 49739.8633 - val_loss: 50276.6328 - val_mae: 50276.6328
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49721.7344 - mae: 49721.7344 - val_loss: 50276.4102 - val_mae: 50276.4102
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49703.3438 - mae: 49703.3438 - val_loss: 50260.1758 - val_mae: 50260.1758
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49688.1328 - mae: 49688.1328 - val_loss: 50255.4062 - val_mae: 50255.4062
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49673.6367 - mae: 49673.6367 - val_loss: 50253.8945 - val_mae: 50253.8945
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49659.4531 - mae: 49659.4531 - val_loss: 50260.4805 - val_mae: 50260.4805
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49646.8008 - mae: 49646.8008 - val_loss: 50256.7344 - val_mae: 50256.7344
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49633.9297 - mae: 49633.9297 - val_loss: 50267.3711 - val_mae: 50267.3711
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49623.8125 - mae: 49623.8125 - val_loss: 50249.7617 - val_mae: 50249.7617
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49611.9805 - mae: 49611.9805 - val_loss: 50248.4766 - val_mae: 50248.4766
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49600.5703 - mae: 49600.5703 - val_loss: 50253.4727 - val_mae: 50253.4727
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49593.1680 - mae: 49593.1680 - val_loss: 50252.1602 - val_mae: 50252.1602
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49584.3359 - mae: 49584.3359 - val_loss: 50259.1406 - val_mae: 50259.1406
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49576.5000 - mae: 49576.5000 - val_loss: 50255.0156 - val_mae: 50255.0156
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49563.3516 - mae: 49563.3516 - val_loss: 50244.7031 - val_mae: 50244.7031
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49559.1758 - mae: 49559.1758 - val_loss: 50245.1875 - val_mae: 50245.1875
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49552.3281 - mae: 49552.3281 - val_loss: 50253.8906 - val_mae: 50253.8906
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49540.2617 - mae: 49540.2617 - val_loss: 50250.9258 - val_mae: 50250.9258
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49535.1953 - mae: 49535.1953 - val_loss: 50264.5586 - val_mae: 50264.5586
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49525.5430 - mae: 49525.5430 - val_loss: 50250.2852 - val_mae: 50250.2852
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49519.4453 - mae: 49519.4453 - val_loss: 50261.5273 - val_mae: 50261.5273
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49511.9062 - mae: 49511.9062 - val_loss: 50257.1992 - val_mae: 50257.1992
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49504.1406 - mae: 49504.1406 - val_loss: 50256.1328 - val_mae: 50256.1328
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49496.7109 - mae: 49496.7109 - val_loss: 50261.1211 - val_mae: 50261.1211
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49489.1445 - mae: 49489.1445 - val_loss: 50255.1641 - val_mae: 50255.1641

In [17]:
%load_ext tensorboard

In [25]:
%tensorboard --logdir regressionlogs/fit --port 6008

In [19]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 707us/step - loss: 50244.7031 - mae: 50244.7031
Test MAE : 50244.703125

In [20]:
model.save('regression_model.h5')

c:\Users\Mahnoor\anaconda3\envs\py_env\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(